.aboutclass{
    background-color: whitesmoke;
}

.aboutstores{
    width: 80vw;
    margin-top: 100px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
    font-size: 50px;
    height: 100vh;
    color: black;
    text-align: left;
    // background-color: blue;
}