.header{
    // background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome{
    // background-color: yellow;
    color: black;
    font-size: 30px;

}
.menu{
    display: none;
}

.menulink{
    display: none;
}