$colorc : rgba(167, 237, 242, 0.296);

.nshow{
    // background-color: white;
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    img{
        width: 200px;
        height: 200px;
    }
    span{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
    }
    p{
        color: rgba(205, 109, 109, 0.885);
        width: 600px;
        font-weight: bolder;
        // background-color: rebeccapurple;
        text-align: left;
    }
}

.ushow{
    // background-color: white;
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    span{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        }
    input{
        width: 100px;
        height: 40px;
    }
    img{
        width: 200px;
        height: 200px;
    }
    p{
        color: rgba(205, 109, 109, 0.885);
        width: 400px;
        font-weight: bolder;
        // background-color: rebeccapurple;
        text-align: left;
    }
}

.ashow{
    // background-color: white;
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    span{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        }
    input{
        width: 100px;
        height: 40px;
    }
    img{
        width: 200px;
        height: 200px;
    }
    p{
        color: rgba(205, 109, 109, 0.885);
        width: 400px;
        font-weight: bolder;
        // background-color: rebeccapurple;
        text-align: left;
    }
    button{
        width: 80px;
        height: 40px;
        font-weight: bolder;
        background-color: burlywood;
        color: rgb(24, 175, 175);
    }
}


@media screen and (max-width:767px){
    .nshow{
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span{
            display: flex;
            flex-direction: column;
        }
    }

    .ushow{
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        input{
            width: 100px;
            height: 30px;
        }
        button{
            width: 100px;
            height: 30px;
            font-size: 20px;
        }
        span{
            width: 80vw;
            font-size: 30px;
            background-color: $colorc;
        }
    }
    .ashow{
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        input{
            width: 100px;
            height: 30px;
        }
        button{
            width: 100px;
            height: 30px;
            font-size: 20px;
        }
        span{
            width: 80vw;
            font-size: 30px;
            background-color: $colorc;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    
}